.container.testimonials__container {
    width: 30%;
}
.testimonial {
    background: var(--color-bg-variant);
    text-align: left;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}
.review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    margin: 0.8rem auto 0;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ========================= */

@media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;
    }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ========================= */

@media screen and (max-width: 600px) {
    .container.testimonials__container {
        width: var(--container-width-sm);
    }
}
